# {{ ansible_managed }}
---
# aodh (telemetry alarm service)
{% if 'aodh' in bootstrap_host_services %}
metering-alarm_hosts:
{% for h in infrastructure_hosts_dict %}
  {{ h.name }}:
    ip: {{ h.ip_v4 }}
{% endfor %}
{% endif %}