# {{ ansible_managed }}
---
# Barbican (key manager) hosts
{% if 'barbican' in bootstrap_host_services %}
key-manager_hosts:
{% for h in infrastructure_hosts_dict %}
  {{ h.name }}:
    ip: {{ h.ip_v4 }}
{% endfor %}
{% endif %}
