# {{ ansible_managed }}
---
##
## Telemetry services hosts
##
{% if 'ceilometer' in onpc_services_list %}
# The compute nodes that the ceilometer compute agent will be running on
metering-compute_hosts:
{% for h in compute_hosts %}
  {{ h.name }}:
    ip: {{ h.ip_v4 }}
{% endfor %}

# The nodes that the central agents will be running on.
# For running Ceilometer in HA for workload partitioning, see
# https://docs.openstack.org/pike/admin/#support-for-ha-deployment
metering-infra_hosts:
{% for h in infrastructure_hosts %}
  {{ h.name }}:
    ip: {{ h.ip_v4 }}
{% endfor %}

# The nodes that run the Gnocchi component of Ceilometer
metrics_hosts:
{% for h in infrastructure_hosts %}
  {{ h.name }}:
    ip: {{ h.ip_v4 }}
{% endfor %}
{% endif %}

{% if 'aodh' in onpc_services_list %}
# The nodes that run the Ceilometer service associated with alarms (Aodh)
metering-alarm_hosts:
{% for h in infrastructure_hosts %}
  {{ h.name }}:
    ip: {{ h.ip_v4 }}
{% endfor %}
{% endif %}
