# {{ ansible_managed }}
---
# Copyright 2018, OpenNext SAS
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

{% if 'metering' in bootstrap_host_services %}
# The compute host that the ceilometer compute agent will be running on
metering-compute_hosts:
{% for h in compute_hosts %}
  {{ h.name }}:
    ip: {{ h.ip_v4 }}
{% endfor %}

# The infra nodes that the central agents will be running on.
# For running Ceilometer in HA for workload partitioning, see
# https://docs.openstack.org/pike/admin/#support-for-ha-deployment
metering-infra_hosts:
{% for h in infrastructure_hosts %}
  {{ h.name }}:
    ip: {{ h.ip_v4 }}
{% endfor %}
{% endif %}