# {{ ansible_managed }}
---
# Designate (DNS services) hossts
{% if 'designate' in bootstrap_host_services %}
dnsaas_hosts:
{% for h in infrastructure_hosts_dict %}
  {{ h.name }}:
    ip: {{ h.ip_v4 }}
{% endfor %}
{% endif %}
