# {{ ansible_managed }}
---
# Designate (DNS services) hossts
{% if 'designate' in onpc_services_list %}
dnsaas_hosts:
{% for h in controller_hosts_dict %}
  {{ h.name }}:
    ip: {{ h.ip_v4 }}
{% endfor %}
{% endif %}
