# {{ ansible_managed }}
---
# gnocchi (telemetry metrics storage) hosts
{% if 'gnocchi' in onpc_services_list %}
metrics_hosts:
{% for h in controller_hosts_dict %}
  {{ h.name }}:
    ip: {{ h.ip_v4 }}
{% endfor %}
{% endif %}
