# {{ ansible_managed }}
---
# gnocchi (telemetry metrics storage) hosts
{% if 'gnocchi' in bootstrap_host_services %}
metrics_hosts:
{% for h in infrastructure_hosts_dict %}
  {{ h.name }}:
    ip: {{ h.ip_v4 }}
{% endfor %}
{% endif %}
