# {{ ansible_managed }}
---
# gnocchi (telemetry metrics storage) hosts
{% if 'gnocchi' in openstack_services_list %}
metrics_hosts:
{% for h in infra_hosts_dict %}
  {{ h.name }}:
    ip: {{ h.ip_v4 }}
{% endfor %}
{% endif %}
