# {{ ansible_managed }}
---
# The host that run the Orchestration services (Heat API, Heat Engine)
{% if 'heat' in onpc_services_list %}
orchestration_hosts:
{% for h in controller_hosts_dict %}
  {{ h.name }}:
    ip: {{ h.ip_v4 }}
{% endfor %}
{% endif %}
