# {{ ansible_managed }}
---
# Logging (Elasticsearch, Rsyslog, ...) hosts
{% if 'logging' in bootstrap_host_services %}
elastic_fluentd_hosts: &logging_cluster
{% for h in logging_hosts_dict %}
  {{ h.name }}:
    ip: {{ h.ip_v4 }}
{% endfor %}
kibana_hosts: *logging_cluster
{% endif %}
