# {{ ansible_managed }}
---
# Logging (Elasticsearch, Fluentd, Kibana) serices hosts
{% if 'logging' in onpc_services_list %}
elastic_hosts: &logging_cluster
{% for h in logging_hosts_dict %}
  {{ h.name }}:
    ip: {{ h.ip_v4 }}
{% endfor %}
fluentd_hosts: *logging_cluster
kibana_hosts: *logging_cluster
{% endif %}
