# {{ ansible_managed }}
---
{% if 'monitoring' in bootstrap_host_services %}
influxdb_hosts: &monitoring_cluster
{% for h in monitoring_hosts_dict %}
 {{ h.name }}:
    ip: {{ h.ip_v4 }}
{% endfor %}

influxdb_hosts: *monitoring_cluster
grafana_hosts: *monitoring_cluster
sensu_hosts: *monitoring_cluster
redis_hosts: *monitoring_cluster
sentinel_hosts: *monitoring_cluster

# Temporay workaround until collectd is deployed in HA cluster
# Currently only the 'first' host with monitoring role is selected
collectd_hosts:
  {{ monitoring_hosts_dict[0].name }}:
    ip: {{ monitoring_hosts_dict[0].ip_v4 }}
{% endif %}