# {{ ansible_managed }}
---
# The infra nodes that will be running the octavia services
{% if 'octavia' in bootstrap_host_services %}
octavia-infra_hosts:
{% for h in infrastructure_hosts_dict %}
  {{ h.name }}:
    ip: {{ h.ip_v4 }}
{% endfor %}
{% endif %}