# {{ ansible_managed }}
---
# The Octavia services hosts
{% if 'octavia' in onpc_services_list %}
octavia-infra_hosts:
{% for h in controller_hosts_dict %}
  {{ h.name }}:
    ip: {{ h.ip_v4 }}
{% endfor %}
{% endif %}