# {{ ansible_managed }}
---
# The infra nodes that will be running the octavia services
{% if 'octavia' in openstack_services_list %}
octavia-infra_hosts:
{% for h in infra_hosts_dict %}
  {{ h.name }}:
    ip: {{ h.ip_v4 }}
{% endfor %}
{% endif %}