## ONPC customized kickstart file, extra functions:
## 1. add static ip and hostname
## 2. add sudo users
## 3. change ssh config(change port)
## 4. Create OSA partitions

# This kickstart file is used to install a ceph node in OSA.
# It should only be used with EL > 5 and/or Fedora > 7.
# For older versions please use the sample.ks kickstart file.
# platform=x86, AMD64, or Intel EM64T

# Install OS instead of upgrade
install
# Use text mode install
text
# Use network installation
network --bootproto dhcp
url --url=$tree
# System authorization information
auth  --useshadow  --enablemd5
# System bootloader configuration
bootloader --location=mbr
# Firewall configuration
firewall --disabled
# Run the Setup Agent on first boot
firstboot --disable
# System keyboard
keyboard us
# System language
lang en_US.UTF-8 
# If any cobbler repo definitions were referenced in the kickstart profile,
# include them here.
$yum_repo_stanza
# Network information
$SNIPPET('network_config')
# Reboot after installation
reboot

# Root password
rootpw --iscrypted $default_password_crypted
# SELinux configuration
selinux --disabled
# Do not configure the X Window System
skipx
# System timezone
timezone --utc {{ cobbler_default_time_zone }}
{% if onpc_users_list is defined and onpc_users_list | length > 0 %}
# Create users
{% for user in onpc_users_list %}
user --groups=wheel --name={{ user.name }} --password={{ user.encrypted_password }} --iscrypted
{% endfor %}
{% endif %}
# Partition clearing information
clearpart --all --initlabel
# Clear the Master Boot Record
zerombr
# Disk partitioning
part biosboot --fstype=biosboot --size=1 --ondrive=sda
part /boot --fstype=ext4 --size=1024 --asprimary  --ondrive=sda
part swap --fstype=swap --recommended --ondrive=sda
part pv.01 --size=24000 --maxsize=64000 --grow --ondrive=sda
# System partitions
volgroup system_vg pv.01
logvol / --fstype=xfs --name=root_lv --vgname=system_vg --size=16384
logvol /var/log --fstype=xfs --name=varlog_lv --vgname=system_vg --size=32000 --grow
logvol /tmp --fstype=xfs --name=tmp_lv --vgname=system_vg --size=2000
logvol /opt --fstype=xfs --name=opt_lv --vgname=system_vg --size=4000

%pre
$SNIPPET('log_ks_pre')
$SNIPPET('kickstart_start')
$SNIPPET('pre_install_network_config')
# Enable installation monitoring
$SNIPPET('pre_anamon')
%end

%packages
@core
openssh-server
sudo
python
bridge-utils
iputils
lsof
lvm2
bind-utils
wget
$SNIPPET('func_install_if_enabled')
%end

%post --nochroot
$SNIPPET('log_ks_post_nochroot')
%end

%post
$SNIPPET('log_ks_post')
{% if onpc_users_list is defined and onpc_users_list | length > 0 %}
## Import ssh keys
{% for user in onpc_users_list %}
sshkey --username={{ user.name}} "{{ user.key }}"
{% endfor %}
{% endif %}
sed -i -e 's|^# %wheel\tALL=(ALL)\tNOPASSWD: ALL|%wheel\tALL=(ALL)\tNOPASSWD: ALL|; s|^Defaults requiretty|#&|' /etc/sudoers
# Start yum configuration
$yum_config_stanza
# End yum configuration
$SNIPPET('post_install_kernel_options')
## NetworkManager is incompatible with Linux Bridge
systemctl stop NetworkManager.service
systemctl disable NetworkManager.service
systemctl mask NetworkManager.service
systemctl enable network.service
$SNIPPET('post_install_network_config')
$SNIPPET('func_register_if_enabled')
$SNIPPET('download_config_files')
$SNIPPET('koan_environment')
$SNIPPET('redhat_register')
$SNIPPET('cobbler_register')
# Enable post-install boot notification
$SNIPPET('post_anamon')
$SNIPPET('add_root_ssh_keys')
$SNIPPET('add_user_ssh_keys')
# Start final steps
$SNIPPET('kickstart_done')
# End final steps
%end