# {{ ansible_managed }}
---
{% if 'ceph' in onpc_services_list %}
# When using LVM or any iSCSI-based cinder backends, such as NetApp with
# iSCSI protocol, the cinder-volume service *must* run on metal (default).
# Reference: https://bugs.launchpad.net/ubuntu/+source/lxc/+bug/1226855
container_skel:
  cinder_volumes_container:
    properties:
      is_metal: false
{% endif %}