# {{ ansible_managed }}
{% if 'logging' in bootstrap_host_services %}
component_skel:
  elasticsearch:
    belongs_to:
      - logging_all
  fluentd:
    belongs_to:
      - logging_all
  kibana:
    belongs_to:
      - logging_all
container_skel:
  elastic_container:
    belongs_to:
      - elastic_containers
    contains:
      - elasticsearch
    properties:
      container_fs_size: {{ elastic_fluentd_container_fs_size | default('8G') }}
  fluentd_container:
    belongs_to:
      - fluentd_containers
    contains:
      - fluentd
    properties:
      container_fs_size: {{ elastic_fluentd_container_fs_size | default('8G') }}
  kibana_container:
    belongs_to:
      - kibana_containers
    contains:
      - kibana
    properties:
      container_fs_size: 8G
physical_skel:
  elastic_containers:
    belongs_to:
      - all_containers
  fluentd_containers:
    belongs_to:
      - all_containers
  kibana_containers:
    belongs_to:
      - all_containers
  elastic_hosts:
    belongs_to:
      - hosts
  fluentd_hosts:
    belongs_to:
      - hosts
  kibana_hosts:
    belongs_to:
      - hosts
{% endif %}