# {{ ansible_managed }}
---
{% if 'monitoring' in bootstrap_host_services %}
component_skel:
  influxdb:
    belongs_to:
      - monitoring_all
  influxdb_relay:
    belongs_to:
      - monitoring_all
  grafana:
    belongs_to:
      - monitoring_all
  kapacitor:
    belongs_to:
      - monitoring_all
  collectd:
    belongs_to:
      - monitoring_all
  sensu:
    belongs_to:
      - monitoring_all
      - sensu_masters
  uchiwa:
    belongs_to:
      - monitoring_all
  redis:
    belongs_to:
      - monitoring_all
      - redis_servers
  sentinel:
    belongs_to:
      - monitoring_all
container_skel:
  influx_container:
    belongs_to:
      - influx_containers
    contains:
      - influxdb
      - influxdb_relay
      - kapacitor
    properties:
      container_fs_size: 16G
  collectd_container:
    belongs_to:
      - collectd_containers
    contains:
      - collectd
  grafana_container:
    belongs_to:
      - grafana_containers
    contains:
      - grafana
    properties:
      container_fs_size: 8G
  sensu_container:
    belongs_to:
      - sensu_containers
    contains:
      - sensu
      - uchiwa
  redis_container:
    belongs_to:
      - redis_containers
    contains:
      - redis
  sentinel_container:
    belongs_to:
      - sentinel_containers
    contains:
      - sentinel
physical_skel:
  influx_containers:
    belongs_to:
      - all_containers
  collectd_containers:
    belongs_to:
      - all_containers
  grafana_containers:
    belongs_to:
      - all_containers
  sensu_containers:
    belongs_to:
      - all_containers
  redis_containers:
    belongs_to:
      - all_containers
  sentinel_containers:
    belongs_to:
      - all_containers
  influx_hosts:
    belongs_to:
      - hosts
  collectd_hosts:
    belongs_to:
      - hosts
  grafana_hosts:
    belongs_to:
      - hosts
  sensu_hosts:
    belongs_to:
      - hosts
  redis_hosts:
    belongs_to:
      - hosts
  sentinel_hosts:
    belongs_to:
      - hosts
{% endif %}