# {{ ansible_managed }}
---
# Copyright 2014, Rackspace US, Inc.
# Copyright 2018, OpenNext SAS. 
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

## Magnum overrides for cinder integration
{% if 'magnum' in bootstrap_host_services %}
# Currently using a fork where bug fixes relative to the generation of
# AUTH_URL for Keystone V3 is fixed. 
magnum_git_repo: "https://github.com/opennext-io/magnum.git"
magnum_git_install_branch: "{{ onpc_openstack_branch }}"
  
magnum_glance_images:
  - name: Fedora-Atomic-28-20180806
    disk_format: qcow2
    image_format: bare
    public: true
    file: Fedora-AtomicHost-28-20180806.0.x86_64.qcow2
    distro: fedora-atomic
    checksum: "sha256:2b74dec845396df2bfae2e9bda0cfd4e6d8ba185cc30f60be7d5131399b9551f"
magnum_config_overrides:
  cinder:
{%- raw %}
    default_docker_volume_type: "{{ cinder_default_volume_type }}"
{% endraw %}
  drivers:
{%- raw %}
    verify_ca: "{{ magnum_enable_verify_ca | default(True) }}"
    openstack_ca_file: "{{ magnum_ca_file_bundle_path | default('/etc/ssl/certs/openstack_root_ca.pem') }}"
{% endraw %}
{% endif %}