---

debug: false

nova_cpu_allocation_ratio: 1.0
nova_nova_conf_overrides:
  DEFAULT:
{%- raw %}
    cpu_allocation_ratio: "{{ nova_cpu_allocation_ratio }}"
{% endraw %}

rabbitmq_monitoring_userid: monitoring

haproxy_stats_enabled: True
haproxy_stats_bind_address: 127.0.0.1
haproxy_stats_port: 1936
haproxy_username: admin

{% if is_aio is defined and not is_aio %}
## Load Balancer Configuration (haproxy/keepalived)
haproxy_keepalived_external_vip_cidr: "{{ hapk_ext_vip_cidr | default('1.2.3.4') }}/32"
haproxy_keepalived_internal_vip_cidr: "{{ hapk_int_vip_cidr | default('172.29.236.0/22') }}"
haproxy_keepalived_external_interface: {{ hapk_ext_itf | default('ens2') }}
haproxy_keepalived_internal_interface: {{ hapk_int_itf | default('br-mgmt') }}
{% endif %}
