## "Add default user ssh key"
mkdir -m 700 /home/{{ onpc_default_user }}/.ssh
echo '{{ onpc_default_user_key }}' >> /home/{{ onpc_default_user }}/.ssh/authorized_keys
chmod 600 /home/{{ onpc_default_user }}/.ssh/authorized_keys
chown -R {{ onpc_default_user }}:{{ onpc_default_group }} /home/{{ onpc_default_user }}/.ssh

## "Add custom users ssh keys"
# Start add_users_ssh_keys generated code
{% for user in onpc_users_list %}
# Begin "Add ssh key for {{ user.name }}"
mkdir -m 700 /home/{{ user.name }}/.ssh
echo '{{ user.key }}' >> /home/{{ user.name }}/.ssh/authorized_keys
chmod 600 /home/{{ user.name }}/.ssh/authorized_keys
chown -R {{ user.name }}:{{ user.name }} /home/{{ user.name }}/.ssh
# End "Add ssh key for {{ user.name }}"
{% endfor %}
